<?php

define('AWS_ACCESS_KEY_ID', '');
define('AWS_SECRET_ACCESS_KEY', '');

define('YII_DB_HOST', '');
define('YII_DB_NAME', '');
define('YII_DB_USER', '');
define('YII_DB_PASSWORD', '');

define('EVERNOTE_WEBHOOK_SECRET', '');

// Evernote API
//
// Client credentials. Fill in these values with the consumer key and consumer secret
// that you obtained from Evernote. If you do not have an Evernote API key, you may
// request one from http://dev.evernote.com/documentation/cloud/
define("OAUTH_CONSUMER_KEY", "");
define("OAUTH_CONSUMER_SECRET", "");
//
// Replace this value with https://www.evernote.com to use Evernote's production server
define('EVERNOTE_SERVER', 'https://sandbox.evernote.com');
//define('EVERNOTE_SERVER', 'https://www.evernote.com');
//
// Replace this value with www.evernote.com to use Evernote's production server
define('NOTESTORE_HOST', 'sandbox.evernote.com');
//define('NOTESTORE_HOST', 'www.evernote.com');
define('NOTESTORE_PORT', '443');
define('NOTESTORE_PROTOCOL', 'https');
//
// Evernote server URLs. You should not need to change these values.
define('REQUEST_TOKEN_URL', EVERNOTE_SERVER . '/oauth');
define('ACCESS_TOKEN_URL', EVERNOTE_SERVER . '/oauth');
define('AUTHORIZATION_URL', EVERNOTE_SERVER . '/OAuth.action');